<!-- HEADER -->
<header>
    <!-- MENU MOBILE -->
    <ul class="side-nav" id="menu-mobile">
        <li><a class="hide-menu" href="#home">Home</a></li>
        <li><a class="hide-menu" href="#sobre">Sobre o Boa Forma</a></li>
        <li><a class="hide-menu" href="#servicos">Serviços</a></li>
        <li><a class="hide-menu" href="#unidades">Unidades</a></li>
        <li><a class="hide-menu" href="#contato">Contato</a></li>

        @{
            if (Request.IsAuthenticated)
            {
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Gerenciar<i class="material-icons white-text">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>@Html.ActionLink("Cadastro de aluno", "Create", "Aluno")</li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Admin Roles", "Index", "RolesAdmin")</li>
                                    }

                                    @{var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;}
                                    @{var claim = claimsIdentity.FindFirst(c => c.Type == "AdmUsers");}

                                    @if (claim != null)
                                    {
                                        if (claim.Value == "True")
                                        {
                                            <li>@Html.ActionLink("Admin Users", "Index", "UsersAdmin")</li>
                                        }
                                    }

                                    @{claim = claimsIdentity.FindFirst(c => c.Type == "AdmClaims");}
                                    @if (claim != null)
                                    {
                                        if (claim.Value == "True")
                                        {
                                            <li>@Html.ActionLink("Admin Claims", "Index", "ClaimsAdmin")</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            }
        }
        @Html.Partial("_LoginPartial")
    </ul>


    <div class="navbar-fixed">
        <nav class="navbar z-depth-0">
            <div class="nav-wrapper container">
                <h1 class="logo_text">Centro Boa Forma - Seu espaço de saúde </h1>
                <a href=""><img class="logo_img" src="~/Content/img/logo.png" alt="Centro Boa Forma"></a>

                <ul class="right light hide-on-med-and-down">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#sobre">Sobre o Boa Forma</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                    <li><a href="#unidades">Unidades</a></li>
                    <li><a href="#contato">Contato</a></li>

                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Gerenciar<i class="material-icons right">arrow_drop_down</i></a></li>
                            <ul id="dropdown1" class="dropdown-content">
                                <li>@Html.ActionLink("Cadastro de aluno", "Create", "Aluno")</li>

                                @if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Admin Roles", "Index", "RolesAdmin")</li>
                                }

                                @{var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;}
                                @{var claim = claimsIdentity.FindFirst(c => c.Type == "AdmUsers");}

                                @if (claim != null)
                                {
                                    if (claim.Value == "True")
                                    {
                                        <li>@Html.ActionLink("Admin Users", "Index", "UsersAdmin")</li>
                                    }
                                }

                                @{claim = claimsIdentity.FindFirst(c => c.Type == "AdmClaims");}
                                @if (claim != null)
                                {
                                    if (claim.Value == "True")
                                    {
                                        <li>@Html.ActionLink("Admin Claims", "Index", "ClaimsAdmin")</li>
                                    }
                                }
                            </ul>
                        }
                    }
                    @Html.Partial("_LoginPartial")
                </ul>

                <a href="#" data-activates="menu-mobile" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
</header>