@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewData["Title"] = "Detalhes";
}

<section class="bloco manage">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">
            <h5>Roles</h5>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                </tbody>
            </table>

            <h5>Lista de usuários nesta Role</h5>
            @if (ViewBag.UserCount == 0)
            {
                <p>Nenhum usuário nesta Role.</p>
            }

            <table class="responsive-table highlight">

                @foreach (var item in ViewBag.Users)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                    </tr>
                }
            </table>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Voltar à lista", "Index")
            </p>
        </div>
    </div>
</section>