@using ProjetoModelo.WebUI.Models
@model ProjetoModelo.WebUI.Models.ClaimViewModel
@{
    ViewData["Title"] = "Associar Claim";
}

<section class="bloco formularios">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h5>Adicione uma nova Claim para o Usuário @ViewBag.User.UserName</h5>
                <div>
                    @{
                        ApplicationUser user = ViewBag.User;
                    }
                </div>

                @Html.Hidden("id", user.Id)

                <div class="input-field col s12">
                    @Html.DropDownList("Type", String.Empty)
                    @Html.LabelFor(model => model.Type)
                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Value)
                    @Html.LabelFor(model => model.Value)
                </div>

                <p class="col s12">
                    <button class="btn blue-logo right" type="submit">
                        Criar
                        <i class="material-icons right">send</i>
                    </button>
                </p>
            }

            <div>
                @Html.ActionLink("Voltar à lista", "Index")
            </div>
        </div>
    </div>
</section>