@model ProjetoModelo.WebUI.Models.IndexViewModel
@{
    ViewData["Title"] = "Gerencie sua conta";
}

<section class="bloco manage">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l2"></div>

        <div class="col s12 m12 l8 card-panel">

            @if (ViewBag.StatusMessage != "")
            {
                <div class="card-panel blue-logo white-text">
                    @ViewBag.StatusMessage
                </div>
            }

            <p>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Trocar de Senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Definir senha para conta local", "SetPassword")
                }
            </p>
            <p>
                Número do Telefone: @(Model.PhoneNumber ?? "Nenhum") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Trocar", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remover", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Adicionar", "AddPhoneNumber")
                }
                ]
            </p>
            <p>
                Logins Sociais: @Model.Logins.Count
                @Html.ActionLink("[ Gerenciar ]", "ManageLogins")
            </p>
            @if (Model.TwoFactor)
            {
                <form method="post" action="/Manage/DisableTFA">
                    <p>
                        Autenticação em dois fatores está habilitada:
                    </p>
                    <div class="input-field">
                        <button type="submit" class="btn blue-logo">Desabilitar<i class="material-icons right">send</i></button>
                    </div>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/EnableTFA">
                    <p>
                        Autenticação em dois fatores está desabilitada:
                    </p>
                    <div class="input-field">
                        <button type="submit" class="btn blue-logo">Habilitar<i class="material-icons right">send</i></button>
                    </div>
                </form>
            }
            @if (Model.BrowserRemembered)
            {
                <form method="post" action="/Manage/ForgetBrowser">
                    <p>
                        O navegador será lembrado para na autenticação em dois fatores:
                    </p>
                    <div class="input-field">
                        <button type="submit" class="btn blue-logo">Esquecer Navegador<i class="material-icons right">send</i></button>
                    </div>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/RememberBrowser">
                    <p>
                        O navegador NÃO será lembrado na autenticação em dois fatores:
                    </p>
                    <div class="input-field">
                        <button type="submit" class="btn blue-logo">Lembrar Navegador<i class="material-icons right">send</i></button>
                    </div>
                </form>
            }

        </div>
    </div>
</section>