@model ProjetoModelo.WebUI.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewData["Title"] = "Gerenciar logins sociais";
}

<section class="bloco manage">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">

            <p>@ViewBag.StatusMessage</p>

            @if (Model.CurrentLogins.Count > 0)
            {
                <h5>Logins registrados</h5>

                <table class="responsive-table highlight">
                    <tbody>
                        @foreach (var account in Model.CurrentLogins)
                        {
                            <tr>
                                <td>@account.LoginProvider</td>
                                <td>
                                    @if (ViewBag.ShowRemoveButton)
                                    {
                                        using (Html.BeginForm("RemoveLogin", "Manage"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div>
                                                @Html.Hidden("loginProvider", account.LoginProvider)
                                                @Html.Hidden("providerKey", account.ProviderKey)
                                                <button class="btn blue-logo" type="submit" value="Remover">Remover @account.LoginProvider da sua conta<i class="material-icons right">remove</i></button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.OtherLogins.Count > 0)
            {
                <h5>Adicionar outros logins sociais.</h5>

                using (Html.BeginForm("LinkLogin", "Manage"))
                {
                    @Html.AntiForgeryToken()
                    <div id="socialLoginList">
                        <p>
                            @foreach (AuthenticationDescription p in Model.OtherLogins)
                            {
                                <div class="input-field col s6">
                                    <button type="submit" class="btn blue-logo" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Login utilizando a conta @p.Caption">@p.AuthenticationType<i class="fa fa-@p.AuthenticationType.ToLower() right"></i></button>
                                </div>
                            }
                        </p>
                    </div>
                }
            }

        </div>
    </div>
</section>