@model ProjetoModelo.WebUI.Models.VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Verificar número de telefone";
}

<section class="bloco formularios">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col s12 card-panel">

            @using (Html.BeginForm("VerifyPhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("phoneNumber", @Model.PhoneNumber)
                <h4>Digite seu código de segurança.</h4>
                <h4>@ViewBag.Status <a href="#" title="@ViewBag.CodigoAcesso">Passe o Mouse :)</a></h4>
                <hr />
                @Html.ValidationSummary()

                <div class="input-field col s12 m6 l6">
                    @Html.EditorFor(model => model.Code)
                    @Html.LabelFor(model => model.Code)
                </div>

                <p class="col s12">
                    <button class="btn blue-logo right" type="submit">
                        Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </p>
            }

        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
