@model ProjetoModelo.Domain.Entities.Aluno

@{
    string aluno = (Model.Sexo == "F" ? "Aluna: " : "Aluno: ");
    ViewData["Title"] = aluno + @Html.DisplayFor(model => model.Nome);
}

<section class="bloco aluno">
    <div class="row container">
        <div class="col l2"></div>
        <div class="col s12 m12 l8 card-panel">

            <h5 class="titulo light black-text center">@ViewData["Title"]</h5>

            <ul class="collection">
                <li class="collection-item">@Html.DisplayNameFor(model => model.DataCadastro): @Html.DisplayFor(model => model.DataCadastro)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Endereco): @Html.DisplayFor(model => model.Endereco)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Bairro): @Html.DisplayFor(model => model.Bairro)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Cep): @Html.DisplayFor(model => model.Cep)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Cidade): @Html.DisplayFor(model => model.Cidade)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Uf): @Html.DisplayFor(model => model.Uf)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Fone1): @Html.DisplayFor(model => model.Fone1)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Fone2): @Html.DisplayFor(model => model.Fone2)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Sexo): @Html.DisplayFor(model => model.Sexo)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Cpf): @Html.DisplayFor(model => model.Cpf)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Rg): @Html.DisplayFor(model => model.Rg)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Nascimento): @Html.DisplayFor(model => model.Nascimento)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Idade): @Html.DisplayFor(model => model.Idade)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.EstadoCivil): @Html.DisplayFor(model => model.EstadoCivil)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Profissao): @Html.DisplayFor(model => model.Profissao)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Empresa): @Html.DisplayFor(model => model.Empresa)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Debito): @Model.Debito.ToString("c")</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Objetivo): @Html.DisplayFor(model => model.Objetivo)</li>
                <li class="collection-item">@Html.DisplayNameFor(model => model.Matriculado): @Html.DisplayFor(model => model.Matriculado)</li>
            </ul>

            <div class="right">

                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn blue-logo" })
                @Html.ActionLink("Relatório", "Report", new { id = Model.Id }, new { target = "_blank", @class = "btn blue-logo" })
                @Html.ActionLink("Voltar à lista", "Index", null, new { @class = "btn blue-logo" })

                <a href="#modalDelete" class="btn blue-logo modal-trigger">Excluir</a>
                <div id="modalDelete" class="modal">
                    <div class="modal-content">
                        <h4>Deseja realmente excluir esse registro?</h4>
                        @if (Model.Sexo == "F")
                        {
                            <p>Aluna: @Html.DisplayFor(model => model.Nome)</p>
                        }
                        else
                        {
                            <p>Aluno: @Html.DisplayFor(model => model.Nome)</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <a class="btn blue-logo modal-action modal-close">Não</a>
                        @Html.ActionLink("Sim", "Delete", new { id = Model.Id }, new { @class = "btn blue-logo modal-action modal-close" })
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>