@model ProjetoModelo.WebUI.Models.RegisterViewModel
@{
    ViewData["Title"] = "Criar";
}

<section class="bloco formularios">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @autocomplete = "off", @type = "email" } })
                    @Html.LabelFor(model => model.Email)
                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.Password)
                    @Html.LabelFor(model => model.Password)
                </div>

                <div class="input-field col s12">
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>

                <label>
                    Selecione as Roles para este usuário
                </label>
                <div class="col s12 m6 l6">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                    {
                        <input type="checkbox" name="SelectedRoles" value="@item.Value" />
                        @Html.Label(item.Value)
                    }
                </div>

                <p class="col s12">
                    <button class="btn blue-logo right" type="submit">
                        Criar
                        <i class="material-icons right">send</i>
                    </button>
                </p>
            }

            <div>
                @Html.ActionLink("Voltar à lista", "Index")
            </div>

        </div>
    </div>
</section>