@model ProjetoModelo.WebUI.Models.EditUserViewModel

@{
    ViewData["Title"] = "Editar usuário";
}

<section class="bloco formularios">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.Id)

                <div class="input-field col s12">
                    @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @autocomplete = "off", @type = "email" } })
                    @Html.TextBoxFor(m => m.Email)

                </div>

                <p class="col s12">
                    @Html.Label("Roles")
                </p>

                foreach (var item in Model.RolesList)
                {
                    <p class="col s3">
                        <input type="checkbox" id="@item.Value" name="@item.Value" value="@item.Value" checked="@item.Selected" />
                        @Html.Label(item.Value)
                    </p>
                }

                <p class="col s12">
                    <button class="btn blue-logo right" type="submit">
                        Salvar
                        <i class="material-icons right">send</i>
                    </button>
                </p>
            }

            <div class="col s3">
                <a href="@Url.Action("SetUserClaim", "ClaimsAdmin", new { id = Model.Id })">Adicionar Claim</a>
            </div>

            <div class="col s3">
                @Html.ActionLink("Voltar à lista", "Index")
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
