@model IEnumerable<ProjetoModelo.WebUI.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<section class="bloco manage">

    <div class="row container">

        <div class="col s12 center">
            <h2 class="titulo light white-text">@ViewData["Title"]</h2>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">

            <p>
                @Html.ActionLink("Criar Novo", "Create")
            </p>
            <table class="responsive-table highlight">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>